/* --- Import fonts ---- */

@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Lobster';
    src: local('Lobster Regular'), url('../fonts/Lobster-Regular.woff') format('woff');
}

:root {
    --font-color: #575858;
    --yellow-color: #FFBC38;
    --black-color: #000;
    --white-color: #fff;
    --red-color: #F91E32;
    --gray-color: #ccc;
    --gray-light-color: #F5F5F5;
    --green-color: #34DF15;
    --pink-color: #EC018C;
    --pink-color2: #F836BD;
    --pink-neon-color: #fe019a;
    --linear-color1: to top, #008aff, #00ff7e;
    --linear-color2: to right, #f75ee2, #6ef7f7;
    --linear-color3: to right, #d585ff, #00ffee;
    --linear-color4: to right, #fccb90, #d57eeb;
    --linear-color5: to right, #fbc2eb, #a6c1ee;
    --linear-color6: to right, #96fbc4, #f9f586;
    --linear-color7: to bottom, #ff9a9e, #fecfef;
    --linear-color8: to left, #f77062, #fe5196, #7028e4, #f77062;
    --linear-color9: to left, #f093fb, #f5576c;
    --font4: 'Lobster', cursive;
    --font3: 'Dancing Script', cursive;
    --font2: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

.scroll-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 5px;
    height: 100%;
    background: var(--gray-color);
}

.scroll-bar {
    height: 0%;
    background: linear-gradient(var(--linear-color1));
    width: 5px;
    animation: animate 5s linear infinite;
}

@keyframes animate {

    0%,
    100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

.scroll-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--linear-color1));
    filter: blur(8px);
}

.scroll-bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--linear-color1));
    filter: blur(8px);
}

/* --- Loading page --- */

.preloading {
    overflow: hidden;
}

.load {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000000;
    display: block;
    overflow: hidden;
}

.load img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: var(--font-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input,
input:active,
input:focus {
    outline: 0 !important;
    outline-style: none !important;
    outline-width: 0 !important;
}

body {
    max-width: calc(100% - 5px);
    cursor: default;
    scroll-behavior: smooth;
}

.overlay-clr {
    background: rgba(44, 44, 44, 0.5);
}

/* --- Contact header --- */

.contact-container {
    background: var(--gray-light-color);
    height: 30px;
    line-height: 30px;
}

.contact-header i {
    padding: 0 8px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--font-color);
    transition: color .5s;
}

.contact-header i:hover {
    color: var(--pink-color2)
}

.contact-header i span {
    font-family: var(--font4);
    letter-spacing: 1px;
    font-weight: 200;
    margin-left: 3px;
    color: var(--font-color);
}

.contact-header span.phone {
    font-weight: 400;
}

.registration .signIn {
    font-weight: 600;
    position: relative;
    font-family: var(--font4);
    letter-spacing: 1px;
    color: var(--font-color);
}

.registration .signIn::before {
    content: attr(data-text);
    position: absolute;
    top: -4px;
    left: 0;
    width: 0;
    height: 30px;
    background: linear-gradient(var(--linear-color3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    -webkit-transition: .7s;
    transition: .7s;
}

.registration .signIn:hover::before {
    width: 100%;
}

/* --- Logo --- */

.menu {
    position: relative;
    height: 86px;
}


.menuscroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: var(--white-color);
    height: 86px;
    padding-top: .15rem;
}

.menuscroll::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(var(--linear-color2));
}

.logo {
    padding: .6rem 0;
}

.logo img {
    width: 130px;
    height: auto;
}

.menu-left {
    margin: 0 auto;
    padding: 0;
    width: 50%;
    position: relative;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    top: 3px;
}

.nav-list>li {
    line-height: 5rem;
    position: relative;
}

.nav-list>li>a {
    display: block;
    color: var(--font-color);
    font-size: 1.26rem;
    font-family: var(--font4);
    letter-spacing: 2px;
    position: relative;
    transition: color .7s;
}

.nav-list>li>a i.fal {
    font-size: .8rem;
    margin-left: -3px;
    font-weight: 600;
}

.nav-list a:hover {
    color: var(--pink-color2);
}

.nav-list>li>a.scroll {
    font-size: 1.4rem;
}

.sub-menu li {
    line-height: 2.5rem;
}

.sub-menu li {
    border-bottom: 1px solid var(--gray-color);
}

.sub-menu li a {
    font-family: var(--font4);
    color: var(--font-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 0 .5rem;
}

.sub-menu {
    width: 14rem;
    display: block;
    position: absolute;
    border-top: 2px solid var(--pink-color2);
    background: var(--white-color);
    z-index: 9;
    top: 8rem;
    left: -12px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.nav-list li:hover>.sub-menu {
    top: 5.2rem;
    opacity: 1;
    visibility: visible;
}

.nav-list li:hover>.sub-menu.scroll {
    top: 5rem;
}

.search-box {
    position: relative;
    top: 1.4rem;
    height: 40px;
    padding: 10px;
    background: #d4f8e8;
    border-radius: 50px;
}

.search-box .search-btn {
    position: absolute;
    top: 0;
    right: -3px;
    float: right;
    color: var(--white-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #98d6ea;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s;
}

.search-txt {
    border: none;
    background: none;
    float: left;
    padding: 0;
    color: #f67575;
    font-family: var(--font4);
    letter-spacing: 1px;
    transition: .4s;
    width: 16px;
    line-height: 8px;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.search-txt::placeholder {
    color: #f67575;
}

.search-box:hover>.search-txt {
    width: 200px;
    padding-left: 6px;
    visibility: visible;
    opacity: 1;
}

.search-box:hover>.search-btn {
    background: var(--white-color);
    color: #f67575;
}

.shopping-btn {
    position: relative;
    top: 1.4rem;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    color: var(--white-color);
    background: #98d6ea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s;
}

.shopping-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #f67575;
    transform: scale(.9);
    z-index: -1;
    transition: all .7s;
}

.shopping-btn:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 10px #f67575;
}

.shopping-btn:hover {
    background: var(--white-color);
    color: #f67575;
    box-shadow: 0 0 5px #f67575;
    text-shadow: 0 0 5px #f67575;
}

/* --- TODO: do the do --- */
.shopping-bag {
    position: relative;
}

.bag-cart {
    position: absolute;
    top: 5.4rem;
    right: -10px;
    width: 18rem;
    height: 14rem;
    padding: .8rem;
    z-index: 9;
    border: 1px solid black;
    background: var(--white-color);
}

.bag-cart.scroll {
    top: 5.15rem;
}

.cart-prod {
    /* padding: .8rem; */
    display: flex;
}

.cart-prod div {
    flex: 1;
}

.cart-prod .cart-prod__img {
    max-width: 60px;
    max-height: 60px;
    display: block;
    margin-right: 1rem;
}

.cart-prod .cart-prod__img img {
    width: 100%;
    height: 100%;
    display: block;
}

.cart-prod__text {
    word-break: break-all;
}

.bag-cart .total {
    text-align: right;
    display: block;
}

.bag-cart .buy {
    display: flex;
    justify-content: space-around;
    text-align: center;
}


.bag-cart .go-cart {
    display: inline-block;
    padding: .5rem 1.5rem;
    /* margin-right: 5px; */
    border-radius: 30px;
    color: var(--white-color);
    /* font-size: 1.2em; */
    position: relative;
    overflow: hidden;
    transition: color .5s;
    z-index: 1;
    background: var(--pink-color2);
    border: 1px solid var(--pink-color2);
}

.bag-cart .go-cart:hover {
    color: var(--pink-color2);
    /* border: 1px solid var(--pink-color2); */
}

.bag-cart .go-cart::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0%;
    background: var(--white-color);
    z-index: -1;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: .7s all;
}

.bag-cart .go-cart:hover::before {
    height: 260%;
}

/* --- Header --- */

.header-slide {
    width: 100%;
    height: 20rem;
    position: relative;
    overflow: hidden;
}

.header-slide .bg {
    width: 100%;
    height: 400%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://shopomely.com/wp-content/uploads/2019/09/bg-candy2.jpg);
    background-position: center;
    background-size: 1500px;
    animation: scrollGood 20s linear infinite;
}

@keyframes scrollGood {
    0% {
        -webkit-transform: translate3d(0, -320px, 0);
        transform: translate3d(0, -320px, 0);

    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.header-slide img {
    width: 240px;
    height: auto;
    position: absolute;
    top: 30%;
    left: 42%;
}

/* --- Product --- */

.product {
    padding: 2rem 0 5.5rem;
    background: var(--white-color);
}

.product .container-fluid {
    height: 40rem;
    display: flex;
}

.product-content-left {
    width: 380px;
    height: 100%;
    margin-right: 10px;
    position: relative;
}

.product-content-left .bg-product {
    background: url("../images/bg2_2.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.product-content-left .bg-product .overlay-clr {
    width: 100%;
    height: 100%;
}

.product-content-left .bg-product::before,
.product-content-left .bg-product::after {
    content: "";
    position: absolute;
    opacity: 0;
    border-style: solid;
    border-color: #F7E1F1;
    --border-width: 16px;
    -webkit-transition: all .7s;
    transition: all .7s;
}

.product-content-left .bg-product::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: var(--border-width) 0 0 var(--border-width);
}

.product-content-left .bg-product::after {
    bottom: 0;
    right: 0;
    width: 95.7%;
    height: 97.5%;
    border-width: 0 var(--border-width) var(--border-width) 0;
}

.product-content-left:hover .bg-product::before,
.product-content-left:hover .bg-product::after {
    opacity: .2;
}

.product-content-left .product-content-left__title {
    position: absolute;
    bottom: 8rem;
    left: 3.5rem;
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--font4);
    letter-spacing: 2px;
    color: var(--white-color);
    text-transform: uppercase;
    width: 80%;
}

.product-content-left .more {
    position: relative;
    display: inline-block;
    bottom: 6.5rem;
    left: 3.5rem;
    padding: .7rem 2.2rem;
    border-radius: 30px;
    background: linear-gradient(var(--linear-color8));
    background-size: 400%;
    font-size: 1.2rem;
    font-weight: 100;
    font-family: var(--font4);
    color: var(--white-color);
    box-sizing: border-box;
    z-index: 1;
    transition: .5s;
}

.product .product-content-left .more:hover {
    animation: button_animate 6s linear infinite;
}

@keyframes button_animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.more::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(var(--linear-color8));
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: .7s;
}

.more:hover::before {
    opacity: 1;
    filter: blur(15px);
    animation: button_animate 6s linear infinite;
}

.product-content-right {
    width: calc(100% - 390px);
    height: 100%;
}

.product-content-right__title {
    display: flex;
    background: var(--gray-light-color);
    padding: .8rem 2rem;
}

.product-content-right__title a {
    display: inline-block;
    text-transform: uppercase;
    font-family: var(--font3);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--font-color);
    letter-spacing: 2px;
    margin-right: 2rem;
    width: fit-content;
    cursor: pointer;
    position: relative;
}

.product-content-right__title a::before {
    content: "";
    position: absolute;
    left: 0;
    top: -.8rem;
    width: 0;
    border-top: 2px solid var(--pink-color2);
    transition: all .7s;
}

.product-content-right__title a:hover::before,
.product-content-right__title a:focus::before {
    width: 100%;
}

.product-content-right__title a.active::before {
    width: 100%;
}

.product-content-right__title a:hover,
.product-content-right__title a:focus {
    color: var(--pink-color2);
}

.product-content-right__title a.active {
    color: var(--pink-color2);
}

.product-content-right__content {
    padding: 1.4rem 0;
}

.product-content-right__content__product {
    display: none;
}

.product-content-right__content__product.active {
    display: block;
}

.__1prod {
    display: inline-block;
    width: 215px;
    height: 320px;
}

.img-prod {
    width: 213px;
    height: 213px;
    overflow: hidden;
    position: relative;
}

.__1prod .img-prod .prod-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--white-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
    padding: .15rem .85rem;
    z-index: 1;
    font-family: var(--font4);
    color: #616161;
    letter-spacing: 1.5px;
    transition: color .7s;
}

.__1prod .img-prod:hover .prod-badge {
    color: #D81B60;
}

.img-prod img {
    width: 213px;
    height: 213px;
    filter: blur(0);
    transition: filter 1s;
}

.img-prod:hover img {
    filter: blur(2px);
}

.sale {
    position: absolute;
    top: 80%;
    left: 50%;
    color: var(--pink-neon-color);
    padding: 6px 30px;
    transform: translate(-50%, -50%);
    font-family: var(--font4);
    letter-spacing: 1px;
    font-size: 1.1rem;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: all .4s;
}

.sale:hover {
    color: var(--pink-neon-color);
}

.img-prod .sale span {
    position: absolute;
    display: block;
    background: var(--pink-neon-color);
    transition: background .7s;
}

.img-prod .sale span:nth-child(1) {
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    transform: translateY(0);
}

.img-prod:hover .sale span:nth-child(1) {
    transition: .5s;
    transform: translateY(-100%);
}

.img-prod .sale span:nth-child(4) {
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    transform: translateY(0);
}

.img-prod:hover .sale span:nth-child(4) {
    transition: .5s;
    transform: translateY(100%);
}

.img-prod .sale span:nth-child(2) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateX(-100%);
}

.img-prod:hover.sale span:nth-child(2) {
    transition: .75s;
    transition-delay: .25s;
    transform: translateX(100%);
}

.img-prod .sale span:nth-child(5) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateX(100%);
}

.img-prod:hover .sale span:nth-child(5) {
    transition: .75s;
    transition-delay: .25s;
    transform: translateX(-100%);
}

.img-prod .sale span:nth-child(3) {
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    transform: translateY(-100%);
}

.img-prod:hover .sale span:nth-child(3) {
    transition: .5s;
    transition-delay: .5s;
    transform: translateY(0);
}

.img-prod .sale span:nth-child(6) {
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    transform: translateY(100%);
}

.img-prod:hover .sale span:nth-child(6) {
    transition: .5s;
    transition-delay: .5s;
    transform: translateY(0);
}

.img-prod:hover .sale {
    opacity: 1;
    visibility: visible;
    top: 50%;
}

.prod-heading {
    display: inline-block;
    width: fit-content;
    margin-top: 10px;
    font-family: var(--font3);
    font-size: 1.5rem;
    font-weight: 550;
    color: var(--pink-color2);
}

.prod-heading:hover {
    color: var(--pink-neon-color);
}

.prod-star ul {
    display: flex;
}

.prod-star ul li i.fa {
    color: var(--yellow-color);
    font-size: .8rem;
    padding: 0 2px;
    cursor: pointer;
}

.prod-star .evaluate {
    font-family: var(--font3);
    font-size: 1.05rem;
    font-weight: 600;
    background: linear-gradient(var(--linear-color4));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prod-price {
    color: var(--red-color);
    font-family: var(--font4);
    float: right;
}

/* --- Blog --- */

.blog {
    padding: 3rem 0 4rem;
    background: var(--gray-light-color);
}

.section-title {
    text-align: center;
    font-family: var(--font3);
    font-weight: 800;
    font-size: 3.5rem;
    background: linear-gradient(var(--linear-color3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    position: relative;
    margin: 0 auto 1rem;
    cursor: pointer;
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(var(--linear-color3));
    transform: scale(1);
    transition: transform 1s;
}

.section-title:hover::after {
    transform: scale(0);
}

.blog-divider {
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--font4);
    padding-bottom: 10px;
    --divider-text-gap: 1.2rem;
    --divider-text-gap-hover: .6rem;
    width: 15%;
    color: var(--pink-color2);
    cursor: pointer;
}

.blog-divider::before,
.blog-divider::after {
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: .5s all;
}

.blog-divider::before {
    margin-right: var(--divider-text-gap);
    background: var(--pink-color2);
}

.blog-divider::after {
    margin-left: var(--divider-text-gap);
    background: var(--pink-color2);
}

.blog-divider:hover::before {
    margin-right: var(--divider-text-gap-hover);
}

.blog-divider:hover::after {
    margin-left: var(--divider-text-gap-hover);
}

.blog .col-3 {
    padding: 0 1.7rem;
}

.img-blog {
    margin: 1rem 0;
    overflow: hidden;
    background: linear-gradient(var(--linear-color5));
}


.img-blog img {
    filter: blur(0);
    transform: scale(1) rotate(0);
    transition: 1s;
}

.img-blog:hover img {
    filter: blur(1);
    transform: scale(1.2) rotate(-9deg);
}

.blog-heading span {
    font-family: var(--font4);
    font-size: .8rem;
    letter-spacing: 1px;
    background: linear-gradient(var(--linear-color3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blog-heading i.fa {
    font-size: .75rem;
    margin-right: 8px;
    margin-bottom: 8px;
}

.blog-title {
    font-family: var(--font3);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--font-color);
}

.blog-more {
    font-family: var(--font4);
    color: var(--pink-color2);
    position: relative;
}

.blog-more:hover {
    color: var(--pink-neon-color);
}

.blog-more:after {
    content: '\2192';
    position: absolute;
    right: -1.4rem;
    transition: .7s;
}

.blog-more:hover:after {

    right: -2.1rem;
}

/* --- Brand --- */

.brand {
    padding: 3rem 0;
    text-align: center;
    background: var(--white-color);
}

.brand .section-title {
    margin: 0 auto 4rem;
}

.brand-carousel {
    margin: 1rem 0;
}

/* --- Getinfo --- */

.getinfo {
    background-image: url(http://fedu.vn/wp-content/uploads/2018/06/sv-bg.png), linear-gradient(to bottom, #b341f6, #53a0f8) !important;
    background-color: initial !important;
    padding: 3rem 0;
}

.getinfo h3 {
    text-transform: uppercase;
    font-family: var(--font3);
    font-size: 1.5rem;
    font-weight: 600;
    background: linear-gradient(var(--linear-color3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    position: relative;
    cursor: default;
    margin-bottom: 2rem;
}

.getinfo h3::after {
    content: "";
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(var(--linear-color3));
    transform: scale(1);
    transition: transform .7s;
}

.getinfo h3:hover::after {
    transform: scale(0);
}

.getinfo span {
    text-transform: uppercase;
    font-family: var(--font3);
    font-size: 1.05rem;
    width: 20%;
    font-weight: 600;
    background: linear-gradient(var(--linear-color5));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input_getinfo {
    display: flex;
}

.input_getinfo input {
    appearance: none;
    width: 45vw;
    padding: .5rem 1.5rem;
    border: 1px solid #EC407A;
    border-right: none;
    border-radius: 10px 0 0 10px;
    font-family: var(--font4);
    color: #EC407A;
    font-size: 1.045rem;
    letter-spacing: 1px;
}

.input_getinfo input::placeholder {
    color: #EC407A;
}

.input_getinfo #submit {
    appearance: none;
    outline: none;
    border: 1px solid #EC407A;
    font-family: var(--font4);
    font-size: 1.05rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white-color);
    padding: .5rem 3rem;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
    border-left-style: dotted;
    background: #EC407A;
    position: relative;
    transition: 1s all ease;
    z-index: 1;
}

.input_getinfo #submit:hover {
    color: #EC407A;
}

.input_getinfo #submit::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0%;
    background: var(--white-color);
    z-index: -1;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: .6s all ease;
}

.input_getinfo #submit:hover::before {
    height: 380%;
}

/* --- Info --- */

.info {
    padding: 3rem 0;
    font-family: var(--font4);
    font-size: 1rem;
    letter-spacing: 1.6px;
    background: #2D2D2D;
    color: var(--white-color);
}

.info .container {
    display: grid;
    grid-template-columns: 1fr 1fr .6fr 1fr;
    gap: 2rem;
}

.info .content-left {
    margin-bottom: 1rem;
}

.info img {
    width: 130px;
    height: auto;
    margin: 1rem 0;
}

.info-heading {
    margin: 1.8rem 0;
    font-family: var(--font4);
    font-size: 1.2rem;
    letter-spacing: 1px;
    width: fit-content;
    text-transform: uppercase;
    color: var(--pink-color2);
    position: relative;
    cursor: pointer;
}

.info-heading:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 35px;
    height: 2px;
    background: var(--pink-color2);
    transition: width .7s;
}

.info-heading:hover::after {
    width: 100%;
}

.wrapper-left ul {
    position: relative;
    display: flex;
}

.wrapper-left ul li {
    position: relative;
}

.wrapper-left ul li a {
    display: block;
    width: 45px;
    height: 45px;
    background: #18191f;
    line-height: 46px;
    text-align: center;
    margin: 0 1.1rem;
    border-radius: 15px;
    box-shadow: -2px -2px 3px rgba(255, 255, 255, .05),
        3px 3px 3px rgba(0, 0, 0, .2);
    position: relative;
}

.wrapper-left ul li a i.fab {
    font-size: 1.1rem;
    color: var(--white-color);
    transition: all .4s;
}

.wrapper-left ul li a:hover i.fab {
    color: var(--pink-neon-color);
    text-shadow: 0 0 15px var(--pink-neon-color);
}

.wrapper-left_tooltip {
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: var(--white-color);
    text-align: center;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    bottom: 40%;
    left: -60%;
    opacity: 0;
    transition: all .4s;
}

.wrapper-left_tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 42%;
    border-width: 8px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.wrapper-left a:hover .wrapper-left_tooltip {
    visibility: visible;
    opacity: 1;
    bottom: 125%;
}

.wrapper-centerleft i {
    font-size: 1rem;
    color: var(--pink-color2);
    margin-right: 1rem;
}

.wrapper-centerleft li {
    margin-bottom: .5rem;
}

.wrapper-right li {
    display: flex;
    margin-bottom: 1.5rem;
}

.wrap-right_img {
    width: 85px;
    height: 60px;
    background: var(--pink-color2);
    /* position: relative; */
}

.wrapper-right img {
    width: 80px;
    height: 80px;
    margin: auto 10px auto 0;
    /* transform: scale(1);
    transition: transform .7s; */
}

.wrapper-right a,
.wrapper-centerright a {
    color: var(--white-color);
    transition: color .7s;
}

.wrapper-right a:hover,
.wrapper-centerright a:hover {
    color: var(--pink-color2);
}

/* .wrapper-right .wrap-right_img::after {
    content: "🔍";
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pink-color2);
} */

/* .wrapper-right img:hover {} */

/* --- Copyright --- */

.copyright {
    padding: 10px 0;
    text-align: center;
    font-family: var(--font4);
    letter-spacing: 1px;
    background: linear-gradient(var(--linear-color3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.copyright span {
    background: var(--pink-color2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.copyright a {
    font-family: var(--font3);
    font-size: 1.25rem;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 0;
    background: linear-gradient(var(--linear-color3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.copyright a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(var(--linear-color3));
    transform: scale(0);
    transition: transform .7s;
}

.copyright a:hover::after {
    transform: scale(1);
}

/* --- Go top --- */

.gotop {
    display: inline-block;
    position: fixed;
    right: 30px;
    bottom: 20px;
    font-size: 1.5rem;
    background: linear-gradient(var(--linear-color9));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.gotop::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: -5px;
    width: 120%;
    height: 2px;
    background: linear-gradient(var(--linear-color9));
}

/* --- Category.html --- */

/* --- Category banner --- */

.cate-banner {
    width: 100%;
    height: 12rem;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.cate-banner .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: url(https://shopomely.com/wp-content/uploads/2020/01/bg-breadcrumb-3-1.jpg);
    background-position: 40px -30px;
    background-size: 100%;
    background-attachment: fixed;
}

.cate-banner .title {
    position: absolute;
    top: 30%;
    left: 45%;
    font-family: var(--font4);
    font-size: 2rem;
    letter-spacing: 2px;
    color: #f1f2f6;
}

/* --- Category content --- */

.cate-content {
    padding: 3rem 0;
}

.breadcrumbs {
    margin: 1.5rem 0 1rem;
}

.breadcrumbs__item {
    display: inline-block;
}

.breadcrumbs__item:not(:last-of-type)::after {
    content: "\203a";
    font-size: 1.5rem;
    margin: 0 5px;
    color: #747d8c;
}

.breadcrumbs__link {
    font-family: var(--font4);
    font-size: 1.05rem;
    letter-spacing: 1.2px;
    color: #747d8c;
    position: relative;
}

.breadcrumbs__link:hover {
    color: #747d8c;
}

.breadcrumbs__link--active {
    color: #16a085;
}

.breadcrumbs__link--active:hover {
    color: #16a085;
}

.breadcrumbs__link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #747d8c;
    transform: scaleX(0);
    transform-origin: right bottom;
    transition-duration: .3s;
    transition: transform .5s ease;
}

.breadcrumbs__link--active::after {
    background: #16a085;
}

.breadcrumbs__link:hover::after {
    transform: scaleX(1);
    transform-origin: left bottom;
}

.cate-content .cate-container {
    height: auto;
    display: flex;
}

.cate-content .cate-header {
    font-family: var(--font4);
    font-size: 1.25rem;
    letter-spacing: 1.25px;
    color: var(--font-color);
    margin-bottom: 1.8rem;
    color: #F06292;
}

.cate-content .cate-header i.fas {
    font-size: .5rem;
    position: relative;
    top: -.7rem;
}

.cate-content .cate-header a {
    color: #F06292;
    display: inline-block;
    position: relative;
}

.cate-content .cate-header a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #F06292;
    transform: scaleX(0);
    transform-origin: right bottom;
    transition-duration: .3s;
    transition: transform .5s ease;
}

.cate-content .cate-header a:hover::after {
    transform: scaleX(1);
    transform-origin: left bottom;
}

.cate-left {
    width: calc(100% - 320px);
    height: 100%;
}

.cate-sort label {
    font-family: var(--font4);
    color: var(--font-color);
    letter-spacing: 1.5px;
    margin-right: .5rem;
}

.cate-sort select {
    padding: .3rem .4rem;
}

.cate-sort select,
.cate-sort select option {
    font-family: var(--font4);
    color: var(--font-color);
    letter-spacing: 1.5px;
    outline: none;
    cursor: pointer;
}

.cate-right {
    width: 300px;
    height: 300px;
    margin-left: 20px;
}

.cate-right .cate-right_title {
    font-family: var(--font4);
    letter-spacing: 2px;
    width: fit-content;
    position: relative;
    cursor: pointer;
    padding-bottom: 4px;
    background: linear-gradient(var(--linear-color9));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cate-right .cate-right_title::after {
    content: "#";
    position: absolute;
    right: -7rem;
    top: 0;
    width: 40%;
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(var(--linear-color9));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: all .5s;
}

.cate-right .cate-right_title:hover::after {
    transform: scaleX(1);
    transform-origin: bottom right;
}

.cate-nav-list {
    margin-left: .5rem;
}

.cate-nav-list i {
    margin-left: -2px;
}

.cate-nav-list li {
    line-height: 2rem;
    position: relative;
    padding: 0 1.2rem;
}

.cate-nav-list a {
    font-family: var(--font4);
    font-size: 1.1rem;
    letter-spacing: 2px;
    width: fit-content;
    color: var(--font-color);
    transition: color .6s;
}

.cate-nav-list a:hover {
    color: #F06292;
}

.cate-sub-menu {
    border-left: 2.5px solid #c8d6e5;
    display: block;
    position: inherit;
    left: 2rem;
}

.cate-sub-menu a {
    display: inline-block;
    font-size: 1rem;
    position: relative;
    padding-left: 0;
    transition: padding-left .6s;
}

.cate-sub-menu a::before {
    content: "\f30b";
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all .6s;
}

.cate-sub-menu a:hover {
    padding-left: 2rem;
}

.cate-sub-menu a:hover::before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

/* --- Product.html --- */

/* --- Product wrapper --- */
/* --- TODO: UI padding --- */
.cate-content.prod-content {
    padding: 3rem 0 1rem;
}

.prod-wrapper {
    display: flex;
}

.prod-left {
    display: flex;
}

.prod-footer {
    margin-top: 2.5rem;
}

.prod-footer__title {
    display: flex;
}

.prod-footer__title a {
    text-transform: uppercase;
    font-family: var(--font4);
    font-size: 1rem;
    color: #636e72;
    background: #e9e8e8;
    letter-spacing: 1.5px;
    margin-right: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: color .5s;
}

.prod-footer__title a:hover {
    color: var(--white-color);
}

.prod-footer__title a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0%;
    background: var(--pink-color2);
    z-index: -1;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all .7s;
    transition-delay: .15s;
}

.prod-footer__title a:hover::before {
    height: 500%;
}

.prod-footer__title a.active {
    background: var(--pink-color2);
    color: var(--white-color);
}

.prod-footer__content {
    padding-top: 1.4rem;
    height: 10rem;
}

.prod-footer__content--prod {
    display: none;
    font-family: var(--font2);
    font-size: 1.02rem;
    color: #34495e
}

.prod-footer__content--prod.active {
    display: block;
}

.prod-footer__content--prod table tr {
    border-bottom: 1px solid var(--gray-color);
}

.prod-footer__content--prod table th {
    font-size: 1.03rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding-right: 10.7rem;
}

.prod-footer__content--prod table td {
    text-align: right;
}

.prod-right {
    font-family: var(--font2);
    color: var(--font-color);
    margin: 1rem 0 1rem 2rem;
}

.prod-name {
    display: inline-block;
    font-family: var(--font4);
    font-size: 2rem;
    letter-spacing: 1.5px;
    color: #34495e
}

.prod-rating {
    display: flex;
    align-items: center;
}

.rating {
    transform: rotateY(180deg);
    display: flex;
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor: pointer;
    width: fit-content;
}

.rating label::before {
    content: "\1f7ca";
    font-size: 1.5rem;
    position: relative;
    display: block;
    color: #d3d3d4;
}

.rating label::after {
    content: "\1f7ca";
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    display: block;
    color: #FFC312;
    opacity: 0;
    transition: opacity .5s;
}

.rating label:hover::after,
.rating label:hover~label::after,
.rating input:checked~label::after {
    opacity: 1;
}

.rating-link {
    font-weight: 600;
    margin-bottom: 7px;
    margin-left: 1rem;
    display: inline-block;
    position: relative;
}

.rating-link::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: var(--font-color);
    transform: scaleX(0);
    transform-origin: right bottom;
    transition-duration: .3s;
    transition: transform .5s ease;
}

.rating-link:hover::after {
    transform: scaleX(1);
    transform-origin: left bottom;
}

.prod-decription {
    margin: .5rem 0;
    font-size: 1.05rem;
}

.price {
    font-family: var(--font4);
    font-size: 1.07rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: var(--red-color);
    margin: .9rem 0;
}

.quantity__card {
    display: flex;
    align-items: center;
}

.number-style input {
    display: inline-block;
    width: 4.5rem;
    height: 2.5rem;
    vertical-align: middle;
    text-align: center;
    border: 2px solid var(--gray-color);
    border-radius: 5px;
    font-family: var(--font4);
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: var(--font-color);
}

.number-style span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    background-color: #e9e8e8;
    transition: .5s;
}

.number-style span:hover {
    background-color: #2B6EF3;
}

.number-style span.number-minus::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -5px;
    width: 11px;
    height: 2px;
    background-color: #1C1C21;
}

.number-style span.number-plus::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -6px;
    width: 12px;
    height: 2px;
    background-color: #1C1C21;
}

.number-style span.number-plus::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5.8px 0 0 -1px;
    width: 2px;
    height: 12px;
    background-color: #1C1C21;
}

.number-style span.number-minus:hover::after,
.number-style span.number-plus:hover::after,
.number-style span.number-plus:hover::before {
    background-color: #fff;
}

.number-style span.disabled::after,
.number-style span.disabled::before {
    background-color: #a4a3a0;
}

.number-style input[type='number'] {
    -moz-appearance: textfield;
    cursor: default;
}

.number-style input::-webkit-outer-spin-button,
.number-style input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.prod-cart {
    margin-left: 2.5rem;
    padding: .5rem 1.5rem;
    color: var(--white-color);
    font-size: 1.2em;
    position: relative;
    overflow: hidden;
    transition: 1s all ease;
    z-index: 1;
    background: var(--pink-color2);
}

.prod-cart:hover {
    color: var(--pink-color2)
}

.prod-cart::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0%;
    background: var(--white-color);
    z-index: -1;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: .7s all;
}

.prod-cart:hover::before {
    height: 500%;
}

.prod-cart span {
    opacity: 0;
    transition: opacity .6s;
}

.prod-cart:hover span {
    opacity: 1;
}

.prod-cart span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #f093fb, #f5576c);
    animation: snake1 2s linear infinite;
}

@keyframes snake1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.prod-cart span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #f093fb, #f5576c);
    animation: snake2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes snake2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.prod-cart span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #f093fb, #f5576c);
    animation: snake3 2s linear infinite;
}

@keyframes snake3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.prod-cart span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #f093fb, #f5576c);
    animation: snake4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes snake4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.about {
    padding: 1rem 0 3.5rem;
    font-family: var(--font2);
    color: var(--font-color);
}

.about h3,
.prod-more h3 {
    font-family: var(--font4);
    font-size: 1.7rem;
    background: linear-gradient(var(--linear-color9));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about p {
    font-size: 1rem;
    padding: .5rem 0 0;
}

.about-contact {
    font-family: var(--font4);
    font-size: 1.05rem;
    letter-spacing: 1px;
    color: #636e72;
    padding: 1.5rem 2rem;
    border: 3px dashed var(--pink-color2)
}

.about-contact i {
    padding-right: 1rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #00ACC1;
    width: 2rem;
}

.about-contact a {
    display: inline-block;
    position: relative;
    margin-left: 3px;
    color: #fd79a8;
}

.about-contact a::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fd79a8;
    transform: scaleX(0);
    transform-origin: right bottom;
    transition-duration: .3s;
    transition: transform .5s ease;
}

.about-contact a:hover::after {
    transform: scaleX(1);
    transform-origin: left bottom;
}

.about img {
    margin-top: 1rem;
    width: 100%;
    height: auto;
}